<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/head') -%>

    </head>

    <body>
        <div class="container">
            <div class="jumbotron mt-3">
                <h1>Gustavo Bonifacio Rodrigues</h1>
                <p>#8652244</p>
                <button class="btn btn-lg btn-primary ">Created with EJS and Bootstrap</button>
            </div>
        </div>
        <footer>
            <%-  include('partials/footer') -%>
        </footer>
    </body>

</html>