/*  main.css
    base styling for all pages
    
    Revision History
        Gustavo Bonifacio Rodrigues, 2020.02.15: Created
        Gustavo Bonifacio Rodrigues, 2020.04.10: Add navbar
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    background: #F5F5F5;
}

body {
    color: #333333;
    margin: 1em auto;
    width: 590px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

main {
    overflow: auto;
}

h1 {
    margin-bottom: 0.5em;
}

div {
    display: block;
}

.btn {
    padding: 0 2em;
    position: absolute;
    background-color: #202124;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
}

.card {
    background-color: #ffffff;
    box-shadow: 1px solid #dadce0;
    border: 1px solid #dadce0;
    border-radius: 0.5em;
    margin-bottom: 0.75em;
    padding: 1.8em;
    word-wrap: break-word;
    display: block;
    overflow: auto;
}

.warningBox {
    padding: 1em;
    text-align: center;
    display: none;
    background-color: #b61827;
    color: white;
    border-radius: 6px;
    border: 1px solid #9b0000;
}

.vSpacer {
    height: 40px;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 30px;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #b61827;
}