<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('fragment/header') %>
        <link rel="stylesheet" href="resources/styles/form.css">
        <script defer src="resources/js/main.js"></script>
    </head>

    <body>
        <%- include('fragment/navbar') %>
        <main>
            <h1>My Shop</h1>
            <div id="errorBox" class="warningBox">
                <% if(typeof(errors) != 'undefined'){ %>
                <% for(var error of errors){ %>
                <p><%= error.msg %></p>
                <% } %>
                <% } %>
            </div>

            <form id="orderForm" action="/" method="post" novalidate>
                <div id="customerInformation" class="card">
                    <label for="customerName">Name*:</label>
                    <input id="customerName" name="customerName" type="text">
                    <label for="customerPhone">Phone*:</label>
                    <input id="customerPhone" name="customerPhone" type="text" minlength="10" maxlength="10"
                        placeholder="xxxxxxxxxx">
                    <span id="productError" class="error"></span>
                    <label for="product1">Mango Juice:</label>
                    <input type="text" name="product1" id="product1" value="0">
                    <label for="product2">Berry Juice:</label>
                    <input type="text" name="product2" id="product2" value="0">
                    <label for="product3">Apple Juice:</label>
                    <input type="text" name="product3" id="product3" value="0">
                    <br>
                    <button type="submit" class="btn">Place Order</button>
                    <br>
                </div>
            </form>
        </main>
        <%- include('fragment/footer') %>
    </body>

</html>