<%# navbar.ejs
        navigation menu

    Revision History
        Gustavo Bonifacio Rodrigues, 2020.04.10: Created
%> 
<nav>
    <a href="/">Home</a>
    <a href="/sales">All Sales</a>
</nav>
<div class="vSpacer"></div>