<!DOCTYPE html>
<!-- index.html
        Main form page

    Revision History
        Gustavo Bonifacio Rodrigues, 2020.02.15: Created
-->
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>My Shop Order</title>
        <link rel="stylesheet" href="resources/styles/main.css">
        <link rel="stylesheet" href="resources/styles/form.css">
        <script defer src="resources/js/main.js"></script>
        <script defer src="resources/js/validator.js"></script>
    </head>

    <body>
        <main>
            <% if(typeof(errors) != 'undefined'){ %>
                    <div class="warningBox">
                        <% for(var error of errors){ %>
                            <p><%= error.msg %></p>
                        <% } %> 
                    </div>
            <% } %>
            


            <h1>My Shop</h1>
            <form id="orderForm" action="/invoice" method="post" novalidate>
                <div id="customerInformation" class="card">
                    <label for="customerName">Name*:</label>
                    <input id="customerName" name="customerName" type="text" >
                    <span class="error"></span>
                    <label for="customerEmail">Email*:</label>
                    <input id="customerEmail" name="customerEmail" type="email" >
                    <span class="error"></span>
                    <label for="customerPhone">Phone*:</label>
                    <input id="customerPhone" name="customerPhone" type="tel" minlength="12" maxlength="12" placeholder="xxx-xxx-xxxx">
                    <span class="error"></span>
                </div>
                <div id="deliveryInformation" class="card">
                    <label for="deliveryAddress">Address*:</label>
                    <input type="text" name="deliveryAddress" id="deliveryAddress" >
                    <span class="error"></span>
                    <label for="deliveryCity">City*:</label>
                    <input type="text" name="deliveryCity" id="deliveryCity" >
                    <span class="error"></span>
                    <label for="deliveryPostalCode">Postal Code*:</label>
                    <span class="error"></span>
                    <input type="text" name="deliveryPostalCode" id="deliveryPostalCode"  placeholder="X9X 9X9" maxlength="7" minlength="7">
                    <span class="error"></span>
                    <label for="deliveryProvince">Province*:</label>
                    <select name="deliveryProvince" id="deliveryProvince">
                        <option disabled selected> -- select an option -- </option>
                        <option value="AB">Alberta</option>
                        <option value="BC">British Columbia</option>
                        <option value="MB">Manitoba</option>
                        <option value="NB">New Brunswick</option>
                        <option value="NL">Newfoundland and Labrador</option>
                        <option value="NS">Nova Scotia</option>
                        <option value="NT">Northwest Territories</option>
                        <option value="NU">Nunavut</option>
                        <option value="ON">Ontario</option>
                        <option value="PE">Prince Edward Island</option>
                        <option value="QC">Quebec</option>
                        <option value="SK">Saskatchewan</option>
                        <option value="YT">Yukon</option>
                    </select>
                    <span class="error"></span>
                </div>
                <div id="products" class="card">
                    <span id="productError" class="error"></span>
                    <label for="product1">Real Bigfoot Air Freshner:</label>
                    <input type="text" name="product1" id="product1" value="0">
                    <label for="product2">Fake Mustache:</label>
                    <input type="text" name="product2" id="product2" value="0">
                    <label for="product3">Yodeling pants:</label>
                    <input type="text" name="product3" id="product3" value="0">
                </div>
                <div id="shipmentInformation" class="card">
                    <label for="shipmentDeliveryTime">Delivery Time:</label>
                    <select name="shipmentDeliveryTime" id="shipmentDeliveryTime">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 day</option>
                        <option value="2">2 days</option>
                        <option value="3">3 days</option>
                        <option value="4">4 days</option>
                    </select>
                    <span class="error"></span>
                </div>
                <div>
                    <button type="submit" class="btn">Place Order</button>
                </div>
            </form>
        </main>

    </body>
    <script src="../resources/js/validator.js"></script>

</html>