form {
    display: block;
    margin: 1em 0;
    overflow: auto;
}

label {
    display: flex;
    margin-top: 2em;
}

label:first-of-type {
    margin-top: 0;
}

input[type=text], input[type=number], input[type=email], input[type=tel], select {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    display: flex;
    width: 45%;
    padding: 0.5em 1em;
    margin-bottom: 0.75em;
    border: none;
    border-bottom: 1px solid #202124;
    outline: none;
}

input:focus, select:focus {
    border-bottom: 2px solid #29B6F6;
}

button[type=submit] {
    margin-bottom: 1em;
}