@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    background: #F5F5F5;
}

body {
    color: #333333;
    margin: 1em auto;
    width: 590px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

main {
    overflow: auto;
}

h1 {
    margin-bottom: 0.5em;
}

div {
    display: block;
}

.btn {
    padding: 0 2em;
    position: absolute;
    background-color: #202124;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
}

.card {
    background-color: #ffffff;
    box-shadow: 1px solid #dadce0;
    border: 1px solid #dadce0;
    border-radius: 0.5em;
    margin-bottom: 0.75em;
    padding: 1.8em;
    word-wrap: break-word;
    display: block;
    overflow: auto;
}