<!DOCTYPE html>
<%# sales.ejs
        sales reporting page

    Revision History
        Gustavo Bonifacio Rodrigues, 2020.04.10: Created
%>
<html lang="en">

    <head>
        <%- include('../partials/stdHeader') %>
        <link rel="stylesheet" href="resources/styles/form.css">
        <title>My Shop Order</title>
        <script defer src="resources/js/main.js"></script>
        <script defer src="resources/js/validator.js"></script>
    </head>

    <body>
        <%- include('../partials/navbar') %>
        <h1>Sales Report</h1>
        <div class="card">
            Under Construction
        </div>
    </body>

</html>